<div ng-controller="MovementRequestCtrl">
    <div ng-hide="isLoading" class="form-group">
        <div class="col-sm-12">
            <button type="button" class="btn btn-primary" ng-click="add()">Add</button>
        </div>
    </div>
    <table id="data-table" datatable="ng" dt-options="dtOptions" width="100%" class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>Movement Date</th>
            <th>Description</th>
            <th>Approved Date</th>
            <th>Approved By</th>
            <th>Action</th>

        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="movementrequest in movementrequestlist" ng-click="edit(movementrequest)">
            <td>{{movementrequest.MovementDate}}</td>
            <td>{{movementrequest.Description}}</td>
            <td>{{movementrequest.ApprovedDate}}</td>
            <td>{{movementrequest.ApprovedBy}}</td>
            <td>
                <button type="button" class="btn btn-default btn-width" ng-click="edit(movementrequest)">Edit</button>
                <button type="button" class="btn btn-default btn-width" ng-click="deletemodal(movementrequest)">Delete</button>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="modal modal-message fade" id="modal-action" style="z-index: 10500">
        <div class="modal-dialog" style="width: 80%">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Movement Request Delete</h4>
                    <a href="javascript:;" class="close" data-dismiss="modal">x</a>
                </div>
                <!--if action is delete-->
                <div class="modal-body">
                    Are you sure you want to delete this movement request ?
                </div>
                <div class="modal-footer">
                    <a href="javascript:;" class="btn btn-default btn-width btn-margin" data-dismiss="modal">Cancel</a>
                    <button type="button" class="btn btn-default btn-width" ng-click="delete()">
                        <span>Delete</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>

